html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
    position: relative;
    font-family: 'Roboto';
}


body {
    background: rgb(111, 104, 109);
    font-size: 18px;
}

h2 {
    text-align: left;
    font-size: 28px;
    padding: 15px 0;
}

.navbar {
    background-color: rgb(32, 163, 158);
    padding: 25px 0;
}
 
.btn {
    text-decoration: none;
    padding: 10px;
    color: white;
    display: block;
}

.active, .btn:hover {
    background: rgb(138, 28, 124);
}

.nav_a {
    display:flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.content {
    margin:auto;
    background-color: rgb(219, 219, 219);
}

.container {
    padding-bottom: 25px;
}

label {
    display: block
}

.about_me, .my_portfolio { 
    text-align: justify;
    padding: 10px 5px;
}

.commments_form p, .contact_form p {
    padding: 5px;
}

.commments_form input, textarea, .contact_form input{
    border: solid black 1px;
    padding: 10px 5px 10px;
}


.commments_form input::placeholder, .contact_form input::placeholder {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

input::placeholder {
    font-size: 22px;
}

textarea::placeholder {
    font-family: 'Roboto';
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}

:-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto';
    font-size: 20px;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    font-family: 'Roboto';
    font-size: 20px;
}


.commments_form .submit input, .contact_form .submit input {
    border-radius: 5px;
    border: none;
    background: rgb(138, 28, 124);
    color: white;
    margin: 5px;
    padding: 10px;
}

.submit input:hover {
    color: rgb(230, 253, 255);
    background: rgb(31, 3, 34); 
}

.comments {
    padding: 15px 10px;

}

.date_author {
    font-size: 14px;
    font-style: italic;
}

.comments .comment_body {
    text-align: justify;
    padding: 5px 0 20px;
}

.image {
    padding: 5px 0;
}

.image a {
    padding: 0;
    border: none;
}

.image a:hover {
    opacity: 0.8;
    background: none;
}

.image img {
    width: 100%;
}

.git_link {
    text-align: center;
    padding: 15px;
}

.git_link a, .contact a {
    display: inline;
    color: black;
    display: block;
}

.django_link {
    margin-top: 10px;
    background-color: #0c4b33;
    width: 50px;
    margin: auto;
    text-decoration: none;
    display: block;
    color: rgb(138, 28, 124);
    padding: 10px;
}

.django_link img {
    width: 100%;
}

.django_link:hover {
    opacity: 0.8;
}

.git_link a:hover, .contact a:hover {
    color:rgb(31, 3, 34);
    background: none;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.contact img {
    width: 100%;
}

.logos {
    display: flex;
    justify-content: center;
}

.contact .logo_linked, .contact .logo_git, .contact .logo_mail {
    margin: 0 15px;
    width: 75px
}

.contact .logos a:hover {
    opacity: 0.7;
}

.thx {
    display: block;
    width: 80%;
    padding: 15px;
    margin: auto;
}

footer {
    background-color: rgb(32, 163, 158);
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
    color: white;
}

.cv {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: justify;
}

.cv div {
    padding: 5px;
}


.cv b {
    font-weight: bold;
}

.cv p {
    padding-top: 5px;
}

.cv ul {
    padding-top: 5px;
}
.cv li {
    list-style: circle;
    margin-left: 30px;
}

.cv h2 {
    padding: 5px 0 0 0;
}

.row_one, .row_two {
    width: 100%;
    text-align: justify;
}

.row_one p, .row_two p {
    padding-right: 5px ;
}

@media only screen and (min-width: 600px){
    body {
        width: 50%;
        margin: auto;
        font-size: 15px;
    }
    .date_author {
        font-size: 12px;
    }

    .commments_form input::placeholder, .contact_form input::placeholder {
        color: rgba(0, 0, 0, 0.7);
        font-size: 15px;
    }

    input::placeholder {
        font-size: 15px;
    }
       
    textarea::placeholder {
        font-size: 15px;
    }
    
    :-webkit-input-placeholder {
        font-size: 15px;
    }
    
    ::-moz-placeholder {
        font-size: 15px;
    }

    .contact {
        flex-direction: row;
    }

    .contact .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


}
